#MyButton {
	margin-top: 35%;
	display: flex;
	justify-content: center;
}

#MyFont {
	text-align: center;
	font-size: 55px;
	font-family: cursive;
	color: #8C001B;
	text-shadow: 3px 2px white;
}

body {
	background-color: #c7edcc;
	background-repeat: no-repeat;
	background-size: 100% 70%;
}

button {
	width: 180px;
	height: 50px;
	font-size: 40px;
}

img {
	position: fixed;
	max-width: 600px;
	myimg:expression(onload=function(){ 
			this.style.width=(this.offsetWidth > 600)?"600px":"auto"});
}